* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #0f1115;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6vw;
    background-color: #0f1115;
}

header .logo {
    margin-left: 5%;
    width: 11%;
}

header .logo img {
    width: 100%;
}


header #form {
    position: relative;
    margin-right: 5%;
    width: 280px;
    background-color: #222128;
    border-radius: 4px;
}
header #form i{
    position: absolute;
    color: #fff;
    right: 0;
    top: 22%;
}

header #form .search {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    background-color: #222128;
}

header #form .search::placeholder {
    color: rgba(255, 255, 255, 0.726);
    font-weight: 300;
}

header #form .search:focus {
    outline: none;
    background-color: #19181f;
}

.container-main {
    width: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 0px 0px 0px 0px;
    background-color: #19181f;
}

.container-main .main-title {
    width: 94%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 3.5vw;
    margin-bottom: 1vw;
    margin-top: 1.5vw;
    z-index: 1;
}

.container-main .linha {
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.185);
    width: 95%;
    margin: auto;
    text-align: start;
}

.main-title h3 {
    color: rgba(255, 255, 255, 0.884);
    font-size: 21px;
    font-weight: 400;
}

.main, .main-2 {
    width: 90%;
    margin: auto;
    background-color: #19181f;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px 20px 0px 0px;
}

.main .card, .main-2 .card {
    width: 18%;
    margin-bottom: 2.5%;
}

.main .card .img, .main-2 .card .img {
    width: 82%;
    margin: auto;
}

.main .card .img img, .main-2 .card .img img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0rem 0rem 1rem #0f1115a2;
    cursor: pointer;
    transition: 0.5s;
}

.main .card .img img:hover, .main-2 .card .img img:hover {
    transform: scale(1.010);
    transition: 0.5s;
}

.card .titulo {
    width: 82%;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
}

.card .titulo h3 {
    width: 100%;
    color: rgba(255, 255, 255, 0.897);
    font-size: 15px;
    font-weight: 450;
}

.card .titulo p {
    font-size: 14px;
    color: #fff;
}

.card .titulo p i {
    color: orange;
}

/* FOOTER   */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f1115;
    width: 100%;
}

.footer .main-footer{
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.center, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.center a, .right a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
    transition: all 0.2s;
}

.center a:hover, .right a:hover{
    font-weight: 500;
    transition: 0.2s;
}

.right i{
    font-size: 20px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-bottom: 2rem;
}

.left a{
    color: #fcfcfc;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    
    margin-left: 1.5rem;
    margin-top: -1.5rem;
    transition: all 0.2s;
}

.left a:hover{
    font-weight: 500;
}

.footer img{
    width: 45%;
}

.footer p{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #fcfcfc;
    background-color: #19181f;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
}

