@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
}

body {
    background-color: #f5f5f5;
}

.container {
    width: 1200px;
    margin: auto;
}

.container .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 18px;
    justify-content: space-evenly;
}

/* LOGO */
.container .menu .logo {
    width: 50px;
}

.container .menu .logo img {
    width: 100%;
}

/* ITENS - MENU */

.container .menu .itens ul {
    list-style: none;
    display: inline-flex;
    gap: 80px;
}

.container .menu .itens ul li {
    color: #141414;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.container .menu .itens ul li:hover {
    color: #0581C8;
    transition: 0.2s;
}

/* SEARCH - BAR */
.container .menu .search-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 240px;
    height: 40px;
}

.container .menu .search-box .icon-search {
    width: 20px;
    display: flex;
    align-items: center;
}

.container .menu .search-box .icon-search img {
    width: 100%;
}

.container .menu .search-box input {
    width: 200px;
    outline: none;
    border: none;
    font-size: 15px;
}

.container .menu .icon img {
    cursor: pointer;
}

/* MAIN */
.content {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    height: 450px;
    margin-top: 45px;
}

.content .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 8%;
    width: 36%;
}

.content .left h2 {
    color: #141414;
    font-size: 48px;
    font-weight: 700;
    width: 50%;
}

.content .left h2 span {
    color: #0581C8;
}

.content .left p {
    color: #9C9696;
    width: 70%;
    font-size: 16px;
}

.content .left h4 {
    color: #141414;
    font-size: 30px;
}

.content .left button {
    outline: none;
    border: none;
    background-color: #e20202;
    width: 200px;
    height: 60px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.content .left button:hover {
    background-color: #f00606;
}

.content .right {
    width: 50%;
}

.section {
    position: absolute;
    width: 60%;
    height: 700px;
    background-color: #c4c4c4;
    z-index: -1;
    top: -20px;
    right: 0;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 132px;
    background-color: #f5f5f5;
    margin-top: 80px;
}

.footer .img-video {
    width: 250px;
    height: 132px;
    overflow: hidden;
}

.footer .img-video img {
    width: 100%;
}

/* FOOTER - ITENS */
.footer .itens-footer ul {
    list-style: none;
    display: inline-flex;
    gap: 90px;
    height: 132px;
    align-items: center;
}

.footer .itens-footer ul li {
    color: #141414;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.footer .itens-footer ul li:hover {
    color: #0581C8;
    transition: 0.2s;
}


/* FOOTER - BUTAO*/
.footer .butao-mais {
    width: 350px;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer .butao-mais p {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
}

